{% extends 'base.html.twig' %}
{% block title %}Password{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/form.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/base.css') }}" />
{% endblock %}
{% block body %}
        <h3>You did it! You change your password!</h3>
        <p>Your new password is {{ password }}.<br>Have a nice day!</p>
{% endblock %}
