{% extends 'user/register.html.twig' %}
{% block body %}
    <form>
        <label>{{ label }}</label>
        <p>{{ 'go_to_login' | trans }}: <a href="/login" id="tologinform">{{ 'login' | trans }}...</a></p>
    </form>
{% endblock %}