<form action="{{ path('password_change') }}" method="post">
    <div>
        <label for="email">Email</label>
        <input type="text" id="email" name="email"" />
    </div>
    <button type="submit">send</button>
</form>