{% extends 'base.html.twig' %}
{% block title %}Password{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/form.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/base.css') }}" />
{% endblock %}
{% block body %}
<div>
    <h1>Send new password</h1>
    <form action="{{ path('password_change') }}" method="post">
        <div>
            <label for="email">Email</label>
            <input type="text" id="email" name="email"/>
        </div>
        <br>
        <button type="submit">Send</button>
        <br>
        <a href="{{ path('main') }}">Back to main page</a>
    </form>
</div>
{% endblock %}