{% extends 'base.html.twig' %}

{% block body %}
    <p>{{ 'successful_registration_email' | trans }}</p> <a href="{{ url('validation', {'id': id})}}">{{ 'verification' | trans }}</a>.
    <p>Thanks!</p>
{% endblock %}
