span{
    color: #F5871F;
}
.article {
    text-align: left;
    border: solid black 1px;
    margin: 3%;
}
#articles div{
    height: 10em;
}
h1{
    text-align: center;
}
#date, #link{
    margin-right: 2%;
}
#link{
    float: left;
    width: 20%;
}
#date{
    float: right;
}
.article p{
    margin-left: 4%;
}
a{
    text-decoration: none;
    color: #F5871F;
}
.navigation{
    height: 5em;
}