.tree ul {
    -webkit-font-smoothing:antialiased;
    text-shadow:0 1px 0 #FFF;
    background: #ddd;
    list-style: none;
    margin: 0;
    padding: 0;
}
.tree  li {
    margin: 0;
    padding: 0;
    position: relative;
}
.tree a {

    background: #ddd;
    color: #444;
    display: block;
    font: bold 16px/30px sans-serif;
    text-align: center;
    text-decoration: none;
}

.tree li:hover a {
    background: #ccc;
}
.tree li ul {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 25px;
    visibility: hidden;
    z-index: 1;
}
.tree li:hover > ul {
    opacity: 1;
    top: 0%;
    margin-left: 100%;
    visibility: visible;
    position: absolute;
}
.tree li ul li {
    border-bottom: solid 1px black;
    border-left: solid 1px black;
    float: none;
    width: 100%;
}
.tree li ul a:hover {
    background: #bbb;
}
