.menu {
    font-size: smaller;
    background-color: rgba(255, 255, 255, 0.7) ;
    width: 100%;
    display: table;
    position: relative;
}
.menu ul {
    -webkit-font-smoothing:antialiased;
    text-shadow:0 1px 0 #FFF;
    background: #ddd;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.menu li {
    float: right;
    margin: 0;
    padding: 0;
    position: relative;
    min-width: 15%;
}
.menu a {
    background: #ddd;
    color: #444;
    display: block;
    font: bold 16px/50px sans-serif;
    padding: 0 15px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}
.current_ancestor:after {
    content: ' ▶';
}
.current_ancestor:hover:after{
    content:'\25bc'
}
.menu li:hover a {
    background: #ccc;
}
.menu li ul {
    float: left;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 25px;
    visibility: hidden;
    z-index: 1;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}
.menu li:hover ul {
    opacity: 1;
    top: 50px;
    visibility: visible;
}
.menu li ul li {
    float: none;
    width: 100%;
}
.menu li ul a:hover {
    background: #bbb;
}

/* Clearfix */

.cf:after, .cf:before {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}
