{% extends 'main/main.html.twig' %}
{% block additionalcss %}
    <link rel="stylesheet" href="{{ asset('css/add.css') }}" />
{% endblock %}
{% block content %}
    <div class="content" id="articles">
        <h3>Add new article</h3>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Add new article</button>
        {{ form_end(form) }}
    </div>
{% endblock %}