<ul class="cf">
    <li class="current first">
        <a href="{{ path('main') }}">Home</a>
    </li>
    <li class="current_ancestor">
        <a href="{{ path('main') }}">Profile</a>
        <ul class="menu_level_1">
            <li class="current first last">
                <a href="{{ path('change_user') }}">Change user</a>
            </li>
        </ul>
    </li>
</ul>

