{% extends 'base.html.twig' %}

{% block title %}News Portal{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/menu.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/base.css') }}" />
{% endblock %}
{% block body %}
        <div class="menu">
            {{ knp_menu_render('AppBundle:Builder:mainMenu') }}
        </div>
    <div>
        <div class="content" id="rightsidebar">
            Settings for articles view.
        </div>
        <div class="content" id="articles">
            Top 5 articles. Search.
         </div>
        <div class="content" id="leftsidebar">
            Categories listing.
        </div>
    </div>

{% endblock %}